/*Global
*/
.heading-site {
text-align: center;
font-family: 'Montserrat', sans-serif;
}


/* HEADER */

.header {
	width:100% ;
	margin-left:0;
	margin-right: 0;
	height: 70px ;
	line-height: 70px ;
	background-color: #333333;
	position: fixed;
	top: 0;
	z-index: 999;
}

.header .header-logo {
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	float: left; 
	margin-left: 30px;
}

.header .header-menu {
	float: right;
	margin-right: 30px;
}

.header .header-menu a {
	margin-right: 15px;
	color :#FFFFFF;
}

.header .header-menu a:hover {
	color: #3498db
}

/*BANNER*/

.banner .banner-image {
	position: relative;

	 
}

.banner .banner-content{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%
}
.banner .banner-content h1,
.banner .banner-content h2 {
	color: #ffffff;
}

/*
ABOUT
*/
.about .about-single-element .icon {
	font-size: 60px;
	text-align: center;
}
.about .about-single-element {
	text-align: center;

}

.about .about-single-element p {
	text-align: left;
	margin-top: 20px;
}

/*
FOOTER
*/
.footer .footer-information {
	text-align: center;
	margin-top: 30px;
	margin-left: 400px;
}

.footer .footer-information {
	padding: 0;
}

.footer .footer-information {
	display: inline-block;
}

.control {
text-align: center;
padding-top: 30px;
}